// Donation Slider
@import '~rangeslider.js/dist/rangeslider.css';

.donate-container {
  .btn-donate {
    min-width: 100px;
    margin-left: 10px;
  }
  @media (max-width: 768px) {
    max-width: 355px;
    margin: 0 auto;
  }

  .form-inline .input-group {
    .donate-amount {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .input-group-addon{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    & > .form-control {
      @media (min-width: 768px) {
        width: 120px;
      }
    }
  }

  .donate-container-content {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .donate-container-content-intro {
    h1 {
      font-size: 24px;
      @media (min-width: 768px) {
        font-size: 36px;
      }
    }
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    .donate-container-content-intro-img {
      padding: 0 30px;
    }
  }

  @media (max-width: 768px) {
    .btn-donate {
      margin-top: 20px;
    }
  }
  .donate-bar {
    position: absolute;
    bottom: 0;
  }
  .list-donate-amount {
    font-size: 18px;
    display: flex;
    position: relative;
    @media (min-width: 768px) {
      font-size: 24px;
    }
    color: #9d9fa1;
    li {
      padding: 0;
      width: 20%;
    }
    li.one {
      margin-left: 20px;
    }
    li.two {
      margin-left: 10px;
    }
    li.four {
      margin-right: 20px;
    }
    @media (min-width: 768px) {
      li.two {
        margin-left: 50px;
      }
      li.four {
        margin-right: 60px;
      }
    }
  }
  .grey-link {
    font-weight: normal;
    text-decoration: underline;
    color: #9d9fa1;
    &:hover {
      text-decoration: none;
    }
  }
  .rangeslider {
    position: absolute;
    bottom: -7px;
  }

  .rangeslider__handle,
  .rangeslider__handle:after,
  .rangeslider__handle:active {
    background-image: url('images/anniversary/donate-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 51px;
    border: none;
  }

  .rangeslider--horizontal .rangeslider__handle {
    top: -12px;
  }

  .rangeslider__fill {
    background: #ccc;
  }
}

// Donation Modal
#donationModal {
  .donate-modal {
    .modal-content {
      background-image: url(images/anniversary/donate_modal_bg.jpg);
      background-position: bottom center;
      background-repeat: no-repeat;
      border-radius: 0;
      h4 {
        font-size: 1.2em;
      }
    }
    .modal-footer {
      border-top: none;
    }
    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }
    .recognition-text {
      color: #999;
      font-size: 0.9em;
    }
    .donate-modal-footer {
      text-align: center;
      padding-top: 0;
    }
  }
}

// Thank you
.container-thankyou {
  .thankyou {
    padding-bottom: 20px;
    .thankyou-title {
      color: #3f3b60;
      font-size: 35px;
      padding-top: 0px;
      font-style: normal;
      span {
        font-weight: bold;
      }
    }
    .direct-link .download-link-msg {
      padding-top: 10px;
      color: #7c7a8f;
      font-size: 15px;
      a {
        color: #3f3b60;
      }
    }
  }
}
