/*!
 * Copyright (c) 2020 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.featured-projects-item {
  background-color:@white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 20px;
  margin-bottom: 30px;
  hr{
      border-top: 1px solid @brand-primary;
  }
  .downloadUrl {
      color:@brand-primary;
      &:hover {
          color:darken(@brand-primary, 15%);
      }
  }
}

.featured-projects-item-category {
  background-color:@brand-primary;
  min-width:200px;
  color:@white;
  text-transform: uppercase;
  text-align:center;
  padding:2px;
  float: right;
  position: relative;
  right: -20px;
  font-size: 11px;
}

.featured-projects-item-heading {
  font-weight:bold;
  margin-bottom: 0;
}
