<ul class="list-inline jumbotron-custom-social-icons-right">
    <li>Share this page:</li>
    <li><a href="#" onclick="
        window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline | urlize }}&amp;utm_medium=social-media-facebook-icon'),
        'facebook-share-dialog',
        'width=626,height=436');
        return false;"><img class="jumbotron-custom-social-icon" src="images/social-icons/facebook.svg"></a></li>
    <li><a href="#" onclick="
        window.open(
        'https://twitter.com/intent/tweet?text=Learn about the new Eclipse IDE Working Group%20-%20&amp;url='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline | urlize }}&amp;utm_medium=social-media-twitter-icon'),
        'twitter-share-dialog',
        'width=626,height=436');
        return false;"><img class="jumbotron-custom-social-icon" src="images/social-icons/twitter.svg"></a></li>
</ul>