<div id="members" class="featured-section featured-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <h2>Members</h2>
                <p class="big">Join leading organizations that are investing in driving the evolution, adoption, and sustainability of Eclipse IDE products and technologies</p>
                <ul class="eclipsefdn-members-list list-inline margin-30 flex-center gap-40" data-ml-wg="eclipse-ide" data-ml-template="only-logos"></ul>
                <p><a class="btn btn-primary" href="/membership">Contact Us About Membership</a></p>
            </div>
        </div>
        
    </div>
</div>