<div class="row">
  <div class="container eclipse-ide-new-features">
    <div class="row eclipse-ide-new-features-prefix">
      <h2>Better Than Ever</h2>
      <p>The Eclipse IDE delivers what you need to rapidly innovate</p>
    </div>

    <div class="row">
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">IMPROVED PLATFORM</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-mouse-pointer icon"></i>
              </div>
            </div>
          </div>
          <p class="big">New commands added to support multiple carets and selections in Text editor, encoding
            explicitly set for new workspaces/projects and improved search box in Windows dark theme</p>
        </div>
      </div>

      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">PROVEN EXTENSIBILITY</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-cogs icon"></i>
              </div>
            </div>
          </div>
          <p class="big">Features a huge variety of platform plugins that will ease the addition of new functionality
          </p>
        </div>
      </div>

      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">IMPROVED JAVA DEVELOPMENT TOOLING</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-code icon"></i>
              </div>
            </div>
          </div>
          <p class="big">New quick-fixes added for &quot;sealed&quot; feature and an enhanced Java Stack console to
            navigate the Debug view stack</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">FREE AND OPEN SOURCE</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-thumbs-up icon"></i>
              </div>
            </div>
          </div>
          <p class="big">Free and open source released under the terms of the Eclipse Public License 2.0</p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">LATEST JAVA <sup>TM</sup> SUPPORT</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-terminal icon"></i>
              </div>
            </div>
          </div>
          <p class="big">Supports Java 18 and provides the necessary tooling for development</p>
        </div>
      </div>
      <div class="col-sm-8 margin-bottom-60">
        <div class="featured-new-items match-height-item-by-row">
          <div class="row">
            <div class="col-xs-18 col-sm-16 col-md-18">
              <h3 class="heading-underline">COMMUNITY-POWERED</h3>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6">
              <div class="featured-new-item-icon">
                <i class="fa fa-users icon"></i>
              </div>
            </div>
          </div>
          <p class="big">More and more, the Eclipse IDE is powered by individual contributors around the world</p>
        </div>
      </div>
    </div>

    <ul class="list-inline featured-new-links nn-doc-section">
      <li><a class="btn btn-primary btn-lg nn-btn" href="/release/noteworthy">New and
          Noteworthy</a></li>
      <li><a class="btn btn-primary btn-lg doc-btn" href="https://help.eclipse.org">Documentation</a></li>
    </ul>
  </div>
</div>

<div class="row featured-stats">
  <div class="container">
    <h2 class="fw-600">Code Meets Community</h2>
    <div class="row">
      <div class="col-md-14 col-md-offset-5">
        <div class="row padding-top-30 padding-left-15 padding-right-15">
          <div class="col-sm-6 col-xs-12">
            <div class="featured-stats-item match-height-item-by-row">
              <a class="white" href="https://projects.eclipse.org/releases/2022-06">
                <span class="featured-stats-number">68</span><br>
                <span class="featured-stats-title">Projects</span>
              </a>
            </div>
            <div class="featured-stats-item-arrow"></div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="featured-stats-item match-height-item-by-row">
              <span class="featured-stats-number">100</span><br>
              <span class="featured-stats-title">Committers</span>
            </div>
            <div class="featured-stats-item-arrow"></div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="featured-stats-item match-height-item-by-row">
              <span class="featured-stats-number">98</span><br>
              <span class="featured-stats-title">million lines of code</span>
            </div>
            <div class="featured-stats-item-arrow"></div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="featured-stats-item match-height-item-by-row">
              <span class="featured-stats-number">197</span><br>
              <span class="featured-stats-title">Contributors</span>
            </div>
            <div class="featured-stats-item-arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row featured-videos">
  <div class="container">
    <div class="row release-videos margin-bottom-40">
      <div class="col-sm-14 col-sm-offset-5">
        <h2>Eclipse IDE Improvements</h2>
        <p class="padding-15"><a class="eclipsefdn-video" target="_blank"
            href="//www.youtube.com/embed/playlist?list=PLnh_8hTD4yvnhXSttuewEKgKkmlIj_ND-"></a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-14 col-md-offset-5">
        <div class="col-sm-12">
          <a class="match-height-item-by-row featured-videos-white-block"
            href="https://wiki.eclipse.org/Simultaneous_Release">
            <h3>Learn More</h3>
            <p>The next Eclipse IDE release is coming in 2022-09</p>
          </a>
        </div>

        <div class="col-sm-12">
          <a class="match-height-item-by-row featured-videos-white-block" href="https://www.eclipse.org/contribute/">
            <h3>Get Involved</h3>
            <p>A vast ecosystem of plugins from an active community</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row featured-footer-custom text-center">
  <h2 class="margin-top-60">Stay Connected with Eclipse Projects</h2>
  <h3>Sign up for our newsletter</h3>
  <a class="btn btn-primary btn-lg" href="https://newsroom.eclipse.org/eclipse-newsletter">
    Subscribe
  </a>
</div>